* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: #fff404;
}

ul {
  list-style-type: none;
}

.container {
  display: flex;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  position: relative;
}

.Child__container {
  border: 1px solid #000;
  position: absolute;
  background-color: #fff;
}

/* .Child__home,
.Child__about,
.Child__technologies {
  padding: 50px;
} */

.Child__text {
  width: 100%;
  padding: 20px 50px 50px 50px;
}

.Child__home {
  position: absolute;
  /* top: 40px; */
  width: 628px;
}

.Child__about {
  position: relative;
  /* top: 40px; */
  /* right: -515px; */
  width: 628px;
}

.Child__technologies {
  position: relative;
  /* top: -78px; */
  /* right: -434px; */
  width: 360px;
}

.Child__projects {
  position: relative;
  top: 70px;
  right: -434px;
  width: 600px;
  height: 400px;
}

.Child__boxes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  height: 90.5%;
  padding: 50px;
  overflow-y: scroll;
}

.Child__box {
  width: 77px;
}

.Child__title {
  position: sticky;
  top: 0;
  left: 0;
  padding: 10px 5px 25px 5px;
  width: 100%;
  background-color: #fff;
  line-height: 0.2;
  font-size: 0.5em;
  cursor: grab;
}

.Child__title::first-letter {
  text-transform: capitalize;
}

/* .Child__text {
} */
